# API Keys
YOUTUBE_API_KEY=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DIR=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=28800

# Models
HF_HOME=/models/huggingface
TRANSFORMERS_CACHE=/models/huggingface
TORCH_HOME=/models/torch

# Frontend
FRONTEND_URL=http://localhost:5173
