# API Keys
YOUTUBE_API_KEY=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

# Database
# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydatabase
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DIR=./db

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=28800

# Models
HF_HOME=/models/huggingface
TRANSFORMERS_CACHE=/models/huggingface
TORCH_HOME=/models/torch

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://backend:5000
REDIS_URL=redis://redis:6379/0

# API & Scraping
MAX_FETCH_LIMIT=1000